@* Dafault admin layout page *@

@inherits LayoutComponentBase

<div class="bg-success text-white p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Bookstore Adminitration Page</span>
            </div>

            <div class="col-3 text-right">
                <a class="btn btn-sm btn-danger" href="/account/logout">Log Out</a>
                <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="1. Admin : Books - Displays a list of current books in the store. You can see the details, edit or remove the information.
                 2. Admin: Checkout Orders - You can see the checkout & shipped list. When you press the Ship Book(s) button, it will move down to the shipping list.">
                   How to use?
                </button>
            </div>
        </div>
    </div>
    
</div>

<div class="table">
    <div class="row p-2">
        <div class="col-3">
            <div class="d-grid gap-2">
                <NavLink class="btn btn-block btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Admin: Books</NavLink>
                <NavLink class="btn btn-block btn-outline-primary" href="/admin/checkouts"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Admin: Checkout Orders</NavLink>
            </div>
        </div>

        <div class="col">
            @Body 
        </div>
    </div>
</div>