@* Checkout confirmation page *@

@page
@model Mission11.Pages.CheckoutCompletedModel
@{
}

    <div class="text-center">
        <h2>Your order has been made! Thank you for the purchase. Please visit again :) </h2>
        <br />
        <a class="btn btn-primary" asp-controller="Home">Return Home</a>
    </div>
